<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню администратора</title>
    <style>
    .content {
        width: 800px; height: 600px; margin: 0 auto; text-align: center;
        }
    input{
        width: 180px;
    }
    </style>
</head>
<body>
<div class="content">
    <input type="button" value="Постановки" onclick="location.href = '/performances';"><br>
    <input type="button" value="Список участников" onclick="location.href = '/participants';"><br>
    <input type="button" value="Жанры" onclick="location.href = '/genres';"><br>
    <input type="button" value="Должности" onclick="location.href = '/jobtitle';"><br>
    <input type="button" value="Сотрудники" onclick="location.href = '/employees';"><br>
    <input type="button" value="Билеты" onclick="location.href = '/tickets';"><br>
    <input type="button" value="Пользователи" onclick="location.href = '/users';"><br>
    <input type="button" value="Вернуться" onclick="location.href = '/';">
</div>
</body>
</html>