<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню клиента</title>
    <style>
    .content {
        width: 800px; height: 600px; margin: 0 auto; text-align: center;
        }
    input{
        width: 180px;
    }
    </style>
</head>
<body>
<div class="content">
    <input type="button" value="Афиша" onclick="location.href = '/poster';"><br>
    <input type="button" value="Покупка билета" onclick="location.href = '/buyticket';"><br>
    <input type="button" value="Мои билеты" onclick="location.href = '/mytickets';"><br>
    <input type="button" value="Мои карты" onclick="location.href = '/mycards';"><br>
    <input type="button" value="Вернуться" onclick="location.href = '/';">
</div>
</body>
</html>