<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список сотрудников</title>
    <style>
    .content {
        width: 800px; height: 600px; margin: 0 auto; text-align: center;
        }
    input{
        width: 180px; float: right; margin-bottom: 5px;
    }
    #buttons{
        float: right; width: 190px;
    }
    table {
        float: left;
        width: 400px;
        border-collapse: collapse;
    }
    td, th {
        padding: 3px;
        border: 1px solid black;
    }
    .selected {
        background: #808080;
    }
    select{
        width: 180px;
    }
    </style>
</head>
<body>
<div class="content">
    <table>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Пол</th>
            <th>Тембр голоса</th>
            <th>Оклад</th>
            <th>Должность</th>
        </tr>
        <tr th:each="el : ${employees}" th:id="'r_'+${el.id_sotrudnik}"  th:attr="onclick=|setSelectedRow('${el.id_sotrudnik}')|" >
            <td th:text="${el.familia}"></td>
            <td th:text="${el.name}"></td>
            <td th:text="${el.otchestvo}"></td>
            <td th:text="${el.pol}"></td>
            <td th:text="${el.voice}"></td>
            <td th:text="${el.oklad}"></td>
            <td th:text="${el.doljnost}"></td>
        </tr>
    </table>
    <div id="buttons">
        <input type="text" id="name" placeholder="Имя">
        <input type="text" id="familia" placeholder="Фамилия">
        <input type="text" id="otchestvo" placeholder="Отчество">
        <p>Пол</p>
        <select id="pol">
            <option th:each="el : ${pols}" th:id="${el.id_pol}" th:text="${el.name_pol}"></option>
        </select>
        <p>Тембр голоса</p>
        <select id="voice">
            <option th:each="el : ${voices}" th:id="${el.voice_id}" th:text="${el.tembr_voice}"></option>
        </select>
        <p>Должность</p>
        <select id="doljnost">
            <option th:each="el : ${doljnosts}" th:id="${el.id_doljnost}" th:text="${el.name_doljnost}"></option>
        </select>
        <input type="button" value="Добавить" onclick="add()">
        <input type="button" value="Изменить" onclick="change()">
        <input type="button" value="Удалить" onclick="remove()">
        <input type="button" value="Вернуться" onclick="location.href = '/menu';">
    </div>
</div>
</body>
<script>
    var selectedRow = -1;
    function setSelectedRow(row){
        if (selectedRow != -1){
            document.getElementById('r_'+selectedRow).className = "";
        }
        selectedRow = row;
        document.getElementById('r_'+selectedRow).className = "selected";
    }
    function add(){
        var name = document.getElementById("name").value,
        familia = document.getElementById("familia").value,
        otchestvo = document.getElementById("otchestvo").value;
        if (name.length == 0 || familia.length == 0 || otchestvo.length == 0){
            alert("Заполните все поля!");
            return;
        }

        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/addemployee");
        xhr.setRequestHeader("Accept", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
            if (xhr.status == 200)
                location.reload();
          }};
        var pol = document.getElementById("pol"),
        voice = document.getElementById("voice"),
        doljnosts = document.getElementById("doljnost");
        let data = 'name=' + name + '&familia=' + familia +
        '&otchestvo=' + otchestvo + '&pol=' + pol.options[pol.selectedIndex].id + '&voice=' +
        voice.options[voice.selectedIndex].id+ '&doljnost=' + doljnost.options[doljnost.selectedIndex].id;
        xhr.send(data);

    }
    function change(){
        var name = document.getElementById("name").value,
        familia = document.getElementById("familia").value,
        otchestvo = document.getElementById("otchestvo").value;
        if (name.length == 0 || familia.length == 0 || otchestvo.length == 0){
            alert("Заполните все поля!");
            return;
        }
        if (selectedRow == -1) {
            alert("Выделите строчку для редактирования!");
            return;
        }
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/changeemployee");
        xhr.setRequestHeader("Accept", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
            if (xhr.status == 200)
                location.reload();
          }};
        var pol = document.getElementById("pol"),
        voice = document.getElementById("voice"),
        doljnosts = document.getElementById("doljnost");
        let data = 'id=' + selectedRow + '&name=' + name + '&familia=' + familia +
        '&otchestvo=' + otchestvo + '&pol=' + pol.options[pol.selectedIndex].id + '&voice=' +
        voice.options[voice.selectedIndex].id+ '&doljnost=' + doljnost.options[doljnost.selectedIndex].id;
        xhr.send(data);
    }
    function remove(){
        if (selectedRow == -1) {
            alert("Выделите строчку для удаления!");
            return;
        }
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/removeemployee");
        xhr.setRequestHeader("Accept", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
            if (xhr.status == 200)
                location.reload();
          }};
        let data = 'id=' + selectedRow;
        xhr.send(data);
    }
</script>
</html>